@{
    Layout = "_Layout";
}

@{
    ViewData["Title"] = "Acervo";
}

<h3 class="font-weight-normal">Todos os livros</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-responsive-sm">
            <thead>
                <tr>
                    <td>Obra</td>
                    <td>Autor</td>
                    <td>Ano Lançamento</td>
                    <td>Gênero</td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center">
                        <div class="btn-group">
                            <button class="btn btn-info">Ver</button>
                            <button class="btn btn-success">Editar</button>
                            <button class="btn btn-danger">Excluir</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

